
ul {
    padding: 0;
    margin-bottom: 0;
    width: 600px;
}
ul li {
    border: 1px solid gray;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

input {
    width: 600px;
    border: 1px solid gray;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

i {
    cursor: pointer;
}

  .contador {
    width: 600px;
    display: flex;
    justify-content: space-between;
  }